
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p style="color: black;"><a href="https://sleepy-woodland-72855.herokuapp.com/"><i class="fas fa-envelope-open-text fa-2x"></i></a> Subscribe to my NewsLetter to never miss out on any event or blogs &#10004;</p>
    
  </div>
</div>
</body>
</html>
